@charset "UTF-8";
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto";
}

.container {
  /* outline: 2px solid red; */
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.card-container {
  /* outline: 2px solid green; */
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ECECEC;
}

header .container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.black--logo {
  color: #2196f3;
}

.menu__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .menu__list {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 95px;
  }
}

@media screen and (min-width: 768px) {
  .menu__item {
    margin-left: 51px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__item {
    margin-left: 55px;
  }
}

@media screen and (min-width: 768px) {
  .menu__item:first-child {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__item:first-child {
    margin-left: 0;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.menu__logo {
  /* font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1em;
  letter-spacing: 0.03em; */
  /* @extend %logo-fonts; */
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.menu--link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  padding-bottom: 31px;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.menu--link:hover::after {
  opacity: 1;
  width: 100%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.menu--link:hover {
  color: #2196f3;
}
.menu--link::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 3px;
  position: absolute;
  top: 43px;
  left: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 350ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 350ms, -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 350ms, transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 350ms, transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.header__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: block;
    margin-left: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header--contacts {
  color: #757575;
  display: block;
}
.header--contacts:hover {
  color: #2196f3;
}

.contacts--link1,
.contacts--link2 {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.contacts--link1:hover,
.contacts--link2:hover {
  fill: currentColor;
}

.header__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .header__item {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__item:first-child {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__item:first-child {
    margin-right: 30px;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__item:nth-child(2) {
    margin-top: 10px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__item:nth-child(2) {
    margin-top: 0;
  }
}

.header--picture {
  margin-right: 10px;
  fill: #757575;
  fill: currentColor;
}
.header--picture:hover {
  fill: currentColor;
}

.mobile__btn {
  border: none;
  background-color: #fff;
  position: absolute;
  right: -290px;
  top: 10px;
}
@media screen and (min-width: 480px) {
  .mobile__btn {
    right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .mobile__btn {
    display: none;
  }
}

.active-page {
  color: #2196f3;
}

.mobile-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 48px;
}

.close__modal {
  border: none;
  background-color: #fff;
  position: absolute;
  top: 21px;
  right: 15px;
}
.close__modal:hover {
  fill: #2196F3;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mobile-modal__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-modal__link:hover {
  color: #2196F3;
}

.mobile-modal__item:first-child {
  margin-bottom: 36px;
}

.mobile-modal__item:nth-child(2) {
  margin-bottom: 32px;
}

.mobile-modal__list {
  margin-left: 40px;
  margin-bottom: auto;
}

.mobile-modal__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-left: 40px;
  margin-bottom: 30px;
}

.mobile-modal-addres__list {
  margin-bottom: 64px;
}

.mobile-modal-addres__item:first-child {
  margin-bottom: 32px;
}

.mobile-modal__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 40px;
}

.mobile-modal-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
}

.mobile-modal-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-left: 20px;
}
.mobile-modal-social__item:first-child {
  margin-left: 0;
}
.mobile-modal-social__item:nth-child(2)::before {
  content: "";
  border-left: 1px solid #212121;
  margin-right: 10px;
}
.mobile-modal-social__item:nth-child(3)::before {
  content: "";
  border-left: 1px solid #212121;
  margin-right: 10px;
}
.mobile-modal-social__item:nth-child(4)::before {
  content: "";
  border-left: 1px solid #212121;
  margin-right: 10px;
}

.hero {
  height: 400px;
  background-color: #2f303a;
  text-align: center;
  padding-bottom: 118px;
  padding-top: 118px;
  max-width: 1600px;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/-mobile@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/-mobile@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-right: 204px;
    padding-left: 204px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/-tablet@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/-tablet@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
    padding-left: 430px;
    padding-right: 430px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/-desktop@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/-desktop@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/-desktop@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 60px;
    max-width: 696px;
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
  border-radius: 4px;
  /* pointer-events: none; */
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero__btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

footer {
  padding-top: 60px;
  background-color: #2f303a;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 31px;
  }
}

.footer__address {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: left;
  }
}

.footer--link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__item {
  margin-bottom: 9px;
}

.white__logo {
  color: #2196f3;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.icon__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .icon__title {
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .icon__title {
    margin-right: 93px;
    margin-left: 0;
  }
}

.icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .icon__list {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .icon__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.footer__icon:first-child {
  margin-left: 0;
}

.footer--svg {
  fill: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
          transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}
.footer--svg:hover {
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .social__networks {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .social__networks {
    margin-left: 70px;
    padding-top: 12px;
    margin-right: 90px;
  }
}

footer .container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  margin-top: 20px;
  padding-left: 18px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}
@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
    margin-left: 0;
  }
}
.footer-input:hover,
.footer-input :focus {
  border-color: #2196f3;
}

.title-input-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .title-input-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
}

.footer--btn {
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #fff;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1200px) {
  .footer--btn {
    margin-left: 12px;
  }
}
.footer--btn:hover {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

.footer__mailing {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__mailing {
    padding-top: 12px;
  }
}

@media screen and (min-width: 768px) {
  .footer__mailing form {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer__mailing form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__button__pic {
  position: absolute;
  top: 13px;
  left: 148px;
  fill: #fff;
}

.footer--button__text {
  position: absolute;
  top: 10px;
  left: 28px;
}

.tehnology {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .tehnology {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.tehnology__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .tehnology__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .tehnology__title {
    line-height: 1.1em;
  }
}

.tehnology__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tehnology__item {
  width: 100%;
  margin-top: 30px;
  margin-left: 0;
  height: 248px;
}
@media screen and (min-width: 768px) {
  .tehnology__item {
    width: 354px;
    display: inline-block;
    margin-right: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .tehnology__item {
    width: 270px;
    margin-left: 30px;
    margin-top: 0;
    margin-right: 0;
  }
}
.tehnology__item:first-child {
  margin-left: 0;
  margin-top: 0;
}
@media screen and (min-width: 480px) {
  .tehnology__item:nth-child(2) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .tehnology__item:nth-child(2) {
    margin-top: 0;
    margin-right: 0;
  }
}
.tehnology__item:nth-child(2n) {
  margin-right: 0;
}
.tehnology__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .tehnology__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .tehnology__item::before {
    width: 270px;
  }
}
.tehnology__item:nth-child(1)::before {
  background-image: url("../../images/technology/antenna1.png");
}
.tehnology__item:nth-child(2)::before {
  background-image: url("../../images/technology/Vector.png");
}
.tehnology__item:nth-child(3)::before {
  background-image: url("../../images/technology/Vector (1).png");
}
.tehnology__item:nth-child(4)::before {
  background-image: url("../..//images/technology/astronauе 1.png");
}

.tehnology__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: #757575;
}

.about__us {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about__us {
    display: block;
  }
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 94px;
}

.about__item {
  width: 370px;
  margin-left: 30px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.about__item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.about__item:nth-child(1):before {
  content: "ДЕСКТОПНІ ЗАСТОСУНКИ";
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.about__item:nth-child(2):before {
  content: "МОБІЛЬНІ ЗАСТОСУНКИ";
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  color: #ffffff;
  position: absolute;
  top: 224px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.about__item:nth-child(3):before {
  content: "ДИЗАЙНЕРСЬКІ РІШЕННЯ";
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  color: #ffffff;
  position: absolute;
  top: 224px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.about__item:first-child {
  margin-left: 0;
}

.comand {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .comand {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.comand__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .comand__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .comand__list {
    text-align: center;
  }
}

.comand__picture {
  margin-bottom: 30px;
}

.comand__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .comand__title {
    font-size: 36px;
    line-height: 1.1em;
    margin-bottom: 50px;
  }
}

.comand__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-left: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
  margin-left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.comand__item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media screen and (min-width: 480px) {
  .comand__item {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .comand__item {
    margin-left: 30px;
    margin-top: 0;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .comand__item {
    width: 270px;
  }
}
.comand__item:first-child {
  margin-left: 0;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .comand__item:nth-child(3) {
    margin-top: 30px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .comand__item:nth-child(3) {
    margin-left: 30px;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .comand__item:nth-child(4) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .comand__item:nth-child(4) {
    margin-top: 0;
  }
}

.comand__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}

.comand--link {
  fill: #afb1b8;
  -webkit-animation-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
          animation-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  padding: 12px;
  border-radius: 50%;
}
.comand--link:hover {
  background-color: #2196f3;
  border-color: #2196f3;
  fill: #ffffff;
}

.svg__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  width: 45%;
  height: 92px;
  margin-left: 30px;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.clients__item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}
.clients__item:first-child {
  margin-left: 0;
  margin-top: 0;
}
.clients__item:nth-child(2) {
  margin-top: 0;
}
.clients__item:nth-child(3) {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .clients__item:nth-child(3) {
    margin-top: 0;
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item:nth-child(6) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item:nth-child(6) {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .clients__item:nth-child(4) {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item:nth-child(4) {
    margin-left: 30px;
    margin-top: 0;
  }
}
.clients__item:nth-child(5) {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .clients__item:nth-child(5) {
    margin-left: 30px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item:nth-child(5) {
    margin-top: 0;
  }
}

.clients--link {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  fill: #afb1b8;
  display: block;
  text-align: center;
  padding-top: 20px;
  -webkit-animation-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
          animation-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.clients--link:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 23px;
  }
}

.input1 {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
@media screen and (min-width: 480px) {
  .input1 {
    width: 370px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .input1 {
    width: 448px;
    height: 40px;
  }
}
.input1:hover, .input1:focus {
  border-color: #2196f3;
}

.input__name1 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-left: auto;
  margin-top: 12px;
  position: relative;
}

.comment-input {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 16px;
  padding-top: 16px;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
@media screen and (min-width: 480px) {
  .comment-input {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .comment-input {
    width: 448px;
    height: 120px;
  }
}
.comment-input:hover,
.comment-input :focus {
  border-color: #2196f3;
}

.condition {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .condition {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 1px;
  }
}

.condition-span {
  color: #2196f3;
  -webkit-text-decoration: underline #2196f3;
          text-decoration: underline #2196f3;
}

.send-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #188ce8;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 58px;
  padding-left: 58px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.send-button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media screen and (min-width: 480px) {
  .send-button {
    margin-left: auto;
    margin-right: auto;
  }
}

.checkbox {
  margin-right: 8px;
  margin-top: 20px;
}
.modal__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-svg1 {
  position: absolute;
  top: 28px;
  left: 12px;
}

.input1:hover + .modal-svg1, .input1:focus + .modal-svg1 {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  fill: #2196f3;
}

.modal-svg2 {
  position: absolute;
  top: 29px;
  left: 12px;
}

.input1:hover + .modal-svg2, .input1:focus + .modal-svg2 {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  fill: #2196f3;
}

.modal-svg3 {
  position: absolute;
  top: 29px;
  left: 12px;
}

.input1:hover + .modal-svg3, .input1:focus + .modal-svg3 {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  fill: #2196f3;
}

.close-modal {
  margin-left: 496px;
  margin-top: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
  position: absolute;
  top: 0;
  right: 8px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.close-modal:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}/*# sourceMappingURL=main.css.map */