body{
    font-family: 'Roboto';
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

.container{
    /* outline: 2px solid red; */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.card-container{
    /* outline: 2px solid green; */
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* хедер */


header .container{
    height: 80px;
    display: flex;
    align-items: center;
}

.logo-color{
    color: #2196F3;
}

.header-list{
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 95px;
}

.header-item{
    margin-left: 55px;
}

.header-item:first-child{
    margin-left: 0;
}

.menu{
    display: flex;
    align-items: center;
    margin-right: auto;
}

header{
    display: flex;
    align-items: center;
}

.header-logo{
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.1em;
letter-spacing: 0.03em;
color: #000000;
text-decoration: none;
}

.header-link{
    font-weight: 500;
font-size: 14px;
line-height: 1.1em;
letter-spacing: 0.02em;
color: #212121;
position: relative;
padding-bottom: 31px;
}

.header-link::after{
    /* content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #2196F3;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 250ms; */
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2196f3;
    border-radius: 3px;
    position: absolute;
    top: 43px;
    left: 0;
     transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 350ms,
              transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scaleX(0);
}

.header-link:hover::after{
    /* opacity: 1; */
    opacity: 1;
    width: 100%;
    transform: scaleX(1);
}

.header-link:hover{
    color: #2196F3;
}

.header-contacts{
    color: #2F303A;
    display: block;
}

.contacts-list{
    display: flex;
}

.header-contacts:hover{
    color: #2196F3;
}

.contacts-item:first-child{
    margin-right: 50px;
}

.contacts-link1, .contacts-link2{
    margin-right: 10px;
}

.contacts-link1:hover{
    fill: #2196F3;
}

.contacts-item{
    display: flex;
    /* padding-top: 10px; */
    align-items: center;
}

.contacts-link2:hover{
    fill: #2196F3;
}

.contacts-item:nth-child(2){
    margin-right: 10px;
}

.mail-svg{
    margin-right: 10px;
}

.tel-svg{
    margin-right: 10px;
}

header{
    stroke: 1px solid #ECECEC;
}

/* Main */

main{
    padding-top: 90px;
}

.main-button{
    font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
background: #F5F4FA;
border: none;
padding: 6px 22px;
border-radius: 5px;
}

.button-item{
    margin-left: 8px;
}

.main-button:hover{
    background-color: #2196F3;
}

.main-list{
    display: flex;
    justify-content: center;
}

.main-images{
    padding-top: 54px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

img{
    width: 370px;
}

.images-item{
    box-sizing: border-box;
    background: #FFFFFF;
border: 1px solid #EEEEEE;
    width: 370px;
    margin: 15px;
    position: relative;
}

.images-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-title{
    font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
    margin-bottom: 4px;
    /* padding-left: 24px; */
}

.title-description{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
/* padding-left: 24px;
padding-bottom: 20px; */
}

.overlay{
    position: absolute;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2196F3;
    transform: translate();
    opacity: 0; */
    width: 370px;
    height: 294px;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(100%);
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    transition: transform 300ms cubic-bezier(.6,-0.02,.59,.88),
      opacity 300ms cubic-bezier(.1,.54,.95,.6),
      background-color 250ms cubic-bezier(.44,.32,.36,.69); 
}   

.overlay:hover{
    /* opacity: 1; */
    background: rgba(33, 150, 243, 0.9);
    transform: translate(0);
    color: #fff;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    opacity: 1;
}

.overlay-text{
    font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.03em;
color: #FFFFFF;
}

/* footer */

footer{
    height: 252px;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 57px;
}

.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color:#FFFFFF;
    margin-bottom: 20px;
}

.footer-link{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-item{
    margin-bottom: 9px;
}

.web{
    color: #2196F3;
}

.footer-address{
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

