body{
    font-family: 'Roboto';
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

.container{
    /* outline: 2px solid red; */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 2;
} */

/* хедер */

header .container{
    height: 80px;
    display: flex;
    align-items: center;
}

.logo-color{
    color: #2196F3;
}

.header-list{
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 95px;
}

.header-item{
    margin-left: 55px;
}

.header-item:first-child{
    margin-left: 0;
}

.menu{
    display: flex;
    align-items: center;
    margin-right: auto;
}

header{
    display: flex;
    align-items: center;
}

.header-logo{
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.1em;
letter-spacing: 0.03em;
color: #000000;
text-decoration: none;
}

.header-link{
    font-weight: 500;
font-size: 14px;
line-height: 1.1em;
letter-spacing: 0.02em;
color: #212121;
position: relative;
padding-bottom: 31px;
}

.header-link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #2196F3;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 250ms;
    
}

.header-link:hover::after{
    opacity: 1;
}

.header-link:hover{
    color: #2196F3;
}

.header-contacts{
    color: #2F303A;
    display: block;
}

.contacts-list{
    display: flex;
}

.header-contacts:hover{
    color: #2196F3;
}

.contacts-item:first-child{
    margin-right: 50px;
}

.contacts-link1, .contacts-link2{
    margin-right: 10px;
}

.contacts-link1:hover{
    fill: #2196F3;
}

.contacts-item{
    display: flex;
    /* padding-top: 10px; */
    align-items: center;
}

.contacts-link2:hover{
    fill: #2196F3;
}

.contacts-item:nth-child(2){
    margin-right: 10px;
}

.mail-svg{
    margin-right: 10px;
}

.tel-svg{
    margin-right: 10px;
}

/* Main */

.hero-section{
    /* width: 1600px; */
    height: 600px;
    background-color: #2F303A;
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px ;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) , url(./images/background-hero.jpg);
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-btn{
font-weight: 700;
font-size: 16px;
line-height: 1.8em;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #2196F3;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 24px;
padding-right: 24px;
border: none;
/* pointer-events: none; */
}

.tehnology-section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.tehnology-title{
font-weight: 700;
font-size: 14px;
line-height: 1.1em;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
margin-bottom: 10px;
margin-top: 30px;
}

.tehnology-list{
    display: flex;
}

.tehnology-item{
    width: 270px;
    margin-left: 30px;
}

.tehnology-item:nth-child(1)::before{
    content:"";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url("./images/antenna1.png");
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
}

.tehnology-item:nth-child(2)::before{
    content:"";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url("./images/Vector.png");
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
}

.tehnology-item:nth-child(3)::before{
    content:"";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url("./images/Vector\ \(1\).png");
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
}

.tehnology-item:nth-child(4)::before{
    content:"";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url("./images/astronauе\ 1.png");
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
}

.tehnology-item:first-child{
    margin-left: 0;
}

.card-description{
font-weight: 400;
font-size: 14px;
line-height: 1.7em;
letter-spacing: 0.03em;
color: #757575;
}
.picture-title{
font-weight: 700;
font-size: 36px;
line-height: 1.1em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}

.picture-section{
    display: flex;
    padding-bottom: 94px;
}

.main-img{
    width: 370px;
    margin-left: 30px;
    position: relative;
}

.main-img:nth-child(1):before{
    content: "ДЕСКТОПНІ ЗАСТОСУНКИ";
    font-weight: 700;
font-size: 14px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-top: 27px;
color: #FFFFFF;
    position: absolute;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
}

.main-img:nth-child(2):before{
    content: "МОБІЛЬНІ ЗАСТОСУНКИ";
    font-weight: 700;
font-size: 14px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-top: 27px;
color: #FFFFFF;
    position: absolute;
    top: 224px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
}

.main-img:nth-child(3):before{
    content: "ДИЗАЙНЕРСЬКІ РІШЕННЯ";
    font-weight: 700;
font-size: 14px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-top: 27px;
color: #FFFFFF;
    position: absolute;
    top: 224px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
}

.main-img:first-child{
    margin-left: 0;
}

.comand-section{
    background-color: #F5F4FA;
    padding-bottom: 94px;
}

.comand-list{
    display: flex;
    text-align: center;
}

.comand{
font-weight: 700;
font-size: 36px;
line-height: 1.1em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
padding-top: 94px;
margin-bottom: 50px;
}

.comand-picture{
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
    display: block;
}

.cardname{
font-weight: 500;
font-size: 16px;
line-height: 1.1em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
text-align: center;
margin-left: 30px;
padding-bottom: 30px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.cardname:first-child{
    margin-left: 0;
}

.name{
font-weight: 400;
font-size: 16px;
line-height: 1.1em;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
margin-top: 10px;
margin-bottom: 16px;
}

.comand-link{
    fill: #AFB1B8;
}

.svg-list{
    display: flex;
    justify-content: center;
}

.comand-icon{
    margin-left: 22px;
}

.svg-list:first-child{
    margin-left: 44px;
}

.svg-list:last-child{
    margin-left: 0;
    margin-right: 44px;
}

.comand-link:hover{
    border-radius: 50%;
    background-color: #2196F3;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: #2196F3;
    color: #FFFFFF;
}

.clients-section{
    padding-top: 94px;
    background-color: #FFFFFF;
    padding-bottom: 94px;
}

.clients-title{
    font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}

.clients-list{
    display: flex;
}

.clients-item:first-child{
    margin-left: 0;
}

.clients-item{
    margin-left: 30px;
}

.clients-link{
    border: 1px solid #AFB1B8;
    border-radius: 5px;
    fill: #AFB1B8;
    display: block;
    width: 170px;
    height: 90px;
    text-align: center;
    padding-top: 20px;
}

.clients-link:hover{
    fill: #2196F3;
    border-color: #2196F3;
}

footer{
    height: 252px;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 57px;
}

.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color:#FFFFFF;
    margin-bottom: 20px;
}

.footer-link{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-item{
    margin-bottom: 9px;
}

.web{
    color: #2196F3;
}

.footer-address{
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.icon-list{
    display: flex;
    justify-content: center;
    margin-left: 70px;
}

.footer-icon{
    margin-top: 20px;
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.footer-icon:first-child{
    margin-left: 0;
}

.icon-title{
    font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 72px;
/* margin-left: 156px; */
margin-left: 70px;
}

.footer-svg{
    fill: #FFFFFF;
}

.footer-svg:hover{
    border-radius: 50%;
    background-color: #2196F3;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: #2196F3;
    color: #FFFFFF;
}

footer .container{
    display: flex;
}
/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

 .modal{
    position: absolute;
width: 528px;
height: 581px;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.modal-title{
    font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
padding-top: 40px;
}

.input1{
    width: 448px;
height: 40px;
margin-top: 30px;
margin-top: 4px;
margin-left: 41px;
border: 1px solid rgba(33, 33, 33, 0.2);;
border-radius: 4px;
}

.input-name1{
    font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
margin-left: 41px;
margin-top: 12px;
}

.comment-input{
    width: 448px;
height: 120px;
margin-left: 41px;
border: 1px solid rgba(33, 33, 33, 0.2);;
border-radius: 4px;
margin-top: 4px;
}

.condition{
    font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
margin-top: 20px;
text-align: center;
margin-bottom: 1px;
}

.condition-span{
    color: #2196F3;
    text-decoration: underline #2196F3;
}

.send-button{
    font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: #188CE8;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 58px;
padding-left: 58px;
margin-left: 165px;
margin-top: 30px;
}

.checkbox{
    margin-left: 54px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 452px;
}

.modal-svg1{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 104px;
    margin-left: 53px;
}

.modal-svg2{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 174px;
    margin-left: 53px;
}

.modal-svg3{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 243px;
    margin-left: 53px;
}

.modal-svg1:hover{
    fill: #2196F3;
}

.modal-svg2:hover{
    fill: #2196F3;
}

.modal-svg3:hover{
    fill: #2196F3;
}

.close-modal{
    margin-left: 496px;
    margin-top: 14px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 6px;
}

.close-modal:hover{
    fill: #2196F3;
    border-color: #2196F3;
}