body{
    font-family: 'Roboto';
}

header{
font-weight: 500;
font-size: 14px;
line-height: 1.1em;
letter-spacing: 0.02em;
color: #212121;
}

span{
    color: #2196F3;
}

.btn{
font-weight: 700;
font-size: 16px;
line-height: 1.8em;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}

ul{
    list-style: none;
}

.logo{
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.1em;
letter-spacing: 0.03em;
color: #212121;
text-decoration: none;
}

.section-hero{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
background-color: #2F303A;
}

.tehnology-list{
font-weight: 700;
font-size: 14px;
line-height: 1.1em;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.card-discription{
font-weight: 400;
font-size: 14px;
line-height: 1.7em;
letter-spacing: 0.03em;
color: #757575;
}
.picture{
font-weight: 700;
font-size: 36px;
line-height: 1.1em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.team-section{
font-weight: 700;
font-size: 36px;
line-height: 1.1em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.cardname{
font-weight: 500;
font-size: 16px;
line-height: 1.1em;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.name{
font-weight: 400;
font-size: 16px;
line-height: 1.1em;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}



