footer {
  padding-top: 60px;
  background-color: #2f303a;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 31px;
  }
}

.footer__address {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
    // margin-right: 70px;
  }
}

.footer--link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__item {
  margin-bottom: 9px;
}

.white__logo {
  color: #2196f3;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.icon__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  // text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    margin-left: 0;
  }
}

.icon__list {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);

  &:first-child {
    margin-left: 0;
  }
}

.footer--svg {
  fill: #ffffff;
  transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
  transition-duration: 250ms;
  transition-delay: 50ms;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;

  &:hover {
    background-color: #2196f3;
    // border-color: #2196f3;
    color: #ffffff;
  }
}

.social__networks {
  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    padding-top: 12px;
    margin-right: 90px;
  }
}

footer .container {
  display: block;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  margin-top: 20px;
  padding-left: 18px;
  transition-duration: 250ms;
  transition-delay: 50ms;

  @media screen and (min-width: 480px){
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-left: 0;
  }

  &:hover,
  :focus {
    border-color: #2196f3;
  }
}

.title-input-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 0;
  }
}

.footer--btn {
  margin-top: 20px;
  align-items: center;
  background: #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #fff;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.footer__mailing {
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
    // display: flex;
  }
}

.footer__mailing form{

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__button__pic {
  position: absolute;
  top: 13px;
  left: 148px;
  fill: #fff;
}

.footer--button__text {
  position: absolute;
  top: 10px;
  left: 28px;
}
