header .container {
  height: 80px;
  display: flex;
  align-items: center;
}

.black--logo {
  color: #2196f3;
}

.menu__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    // margin-left: 95px;
  }

  @media screen and (min-width: 1200px) {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 95px;
  }
}

.menu__item {

  @media screen and (min-width: 768px) {
    margin-left: 51px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 55px;
  }
}

.menu__item:first-child {

  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-right: auto;
}

header {
  display: flex;
  align-items: center;
}

.menu__logo {
  /* font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.1em;
letter-spacing: 0.03em; */
  /* @extend %logo-fonts; */
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  display: block;
  margin-right: auto;
}

.menu--link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  padding-bottom: 31px;

  &:hover::after {
    opacity: 1;
    width: 100%;
    transform: scaleX(1);
  }

  &:hover {
    color: #2196f3;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2196f3;
    border-radius: 3px;
    position: absolute;
    top: 43px;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 350ms,
      transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scaleX(0);
  }
}

.header__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 96px;
  }

  @media screen and (min-width: 1200px) {
    text-align: center;
    display: flex;
    align-items: center;
  }
}

.header--contacts {
  color: #2f303a;
  display: block;

  &:hover {
    color: #2196f3;
  }
}

.contacts--link1,
.contacts--link2 {

  margin-right: 10px;
  display: flex;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
  }

  &:hover {
    fill: #2196f3;
  }
}

.header__item {

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }

  &:first-child {
    margin-right: 50px;
  }

  &:nth-child(2) {
    margin-top: 10px;
    margin-right: 10px;
  }
}

.header--picture {
  margin-right: 10px;
}

.mobile__btn {
  border: none;
  background-color: #fff;
  margin-left: 276px;
  display: block;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
