.hero {
  height: 400px;
  background-color: #2f303a;
  text-align: center;
  // padding-left: 60px;
  // padding-right: 60px;
  padding-bottom: 118px;
  padding-top: 118px;
  max-width: 1600px;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/hero/-mobile@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../images/hero/-mobile@2x.jpg);
    }

  @media screen and (min-width: 768px) {
    padding-right: 204px;
    padding-left: 204px;
    background-image: url(../../images/hero/-tablet@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../../images/hero/-tablet@2x.jpg);
      }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
    padding-left: 430px;
    padding-right: 430px;
    background-image: url(../../images/hero/-desktop@1x.jpg);

      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../../images/hero/-desktop@2x.jpg);
      }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 60px;
    max-width: 696px;
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
  border-radius: 4px;
  /* pointer-events: none; */
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
