.mobile-modal{
    width: 100vw;
    height: 100%;
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 48px;
}

.close__modal{
    border: none;
    background-color: #fff;
    position: absolute;
    top: 21px;
    right: 15px;

    &:hover{
        fill: #2196F3;
    }
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

.mobile-modal__link{
    font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
color: #212121;

&:hover{
    color: #2196F3;
}
}

.mobile-modal__item:first-child{
    margin-bottom: 36px;
}

.mobile-modal__item:nth-child(2){
    margin-bottom: 32px;
}

.mobile-modal__list{
    margin-left: 40px;
    margin-bottom: auto;
}

.mobile-modal__tel{
    font-weight: 500;
font-size: 34px;
line-height: 40px;
letter-spacing: 0.02em;
color: #2196F3;
margin-left: 40px;
margin-bottom: 30px;
}

.mobile-modal-addres__list{
    margin-bottom: 64px;
}

.mobile-modal-addres__item:first-child{
    margin-bottom: 32px;
}

.mobile-modal__mail{
    font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
color: #757575;
margin-left: 40px;
}

.mobile-modal-social__list{
    display: flex;
    margin-left: 40px;
}

.mobile-modal-social__item{
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;
color: #2196F3;
margin-left: 20px;

&:first-child{
    margin-left: 0;
}

&:nth-child(2)::before{
    content: "";
    border-left: 1px solid #212121;
    margin-right: 10px;
}

&:nth-child(3)::before{
    content: "";
    border-left: 1px solid #212121;
    margin-right: 10px;
}

&:nth-child(4)::before{
    content: "";
    border-left: 1px solid #212121;
    margin-right: 10px;
}
}