.tehnology-section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.tehnology-title{
font-weight: 700;
font-size: 14px;
line-height: 1.1em;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
margin-bottom: 10px;
margin-top: 30px;
}

.tehnology-list{
    display: flex;
}

.tehnology-item{
    width: 270px;
    margin-left: 30px;
}

.tehnology-item:nth-child(1)::before{
    content:"";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url("./images/antenna1.png");
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
}

.tehnology-item:nth-child(2)::before{
    content:"";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url("./images/Vector.png");
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
}

.tehnology-item:nth-child(3)::before{
    content:"";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url("./images/Vector\ \(1\).png");
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
}

.tehnology-item:nth-child(4)::before{
    content:"";
    display: block;
    width: 270px;
    height: 120px;
    background-image: url("./images/astronauе\ 1.png");
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
}

.tehnology-item:first-child{
    margin-left: 0;
}

.tehnology-description{
font-weight: 400;
font-size: 14px;
line-height: 1.7em;
letter-spacing: 0.03em;
color: #757575;
}