.tehnology {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.tehnology__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    line-height: 1.1em;
  }
}

.tehnology__list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tehnology__item {
  width: 100%;
  margin-top: 30px;
  margin-left: 0;
  height: 248px;

  @media screen and (min-width: 768px) {
    width: 354px;
    display: inline-block;
    margin-right: 13px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-left: 30px;
    margin-top: 0;
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
    margin-top: 0;
  }

  &:nth-child(2){

    @media screen and (min-width: 480px){
      margin-top: 30px;
    }

    @media screen and (min-width: 768px) {
      margin-top: 0;
      margin-right: 0;
    }
  }

  &:nth-child(2n){
    margin-right: 0;
  }

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &:nth-child(1)::before {
    background-image: url('../../images/technology/antenna1.png');
  }

  &:nth-child(2)::before {
    background-image: url('../../images/technology/Vector.png');
  }

  &:nth-child(3)::before {
    background-image: url('../../images/technology/Vector\ \(1\).png');
  }

  &:nth-child(4)::before {
    background-image: url('../..//images/technology/astronauе\ 1.png');
  }
}

.tehnology__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: #757575;
}
