body{
    font-family: 'Roboto';
}

.container{
    /* outline: 2px solid red; */
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        @media screen and (min-width: 480px) {
            width: 480px;
        }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }

}

.card-container{
    /* outline: 2px solid green; */
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}