main {
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 90px;
  }
}

.main--button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border: none;
  padding: 6px 22px;
  border-radius: 5px;
  transition-delay: 50ms;
  transition-duration: 250ms;

  &:hover {
    background-color: #2196f3;
    color: #fff;
  }
}

.buttons__item {
  margin-left: 8px;
  margin-top: 15px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }

  &:nth-child(4) {

    @media screen and (min-width: 1200px) {
      margin-left: 8px;
    }
  }
}

.buttons__list {
  display: flex;
  flex-wrap: wrap;


  @media screen and (min-width: 768px) {
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
}
