footer{
    height: 252px;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 57px;
}

.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color:#FFFFFF;
    margin-bottom: 20px;
}

.footer-link{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-item{
    margin-bottom: 9px;
}

.web{
    color: #2196F3;
}

.footer-address{
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}